<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CodeJam.PerfTests" type="CodeJam.PerfTests.Configs.PerfTestsSection, CodeJam.PerfTests"/>
	</configSections>

	<!-- uncomment these to override default perf tests behavior -->
	<CodeJam.PerfTests
		AnnotateOnRun="true"
		IgnoreExistingAnnotations="false"
		ReportWarningsAsErrors="false"
		TroubleshootingMode="false" />
</configuration>