version: 4.0.{build}
image: Visual Studio 2022
configuration: Release
clone_folder: c:\projects\codejam
environment:
  SHFBROOT: C:\EWSoftware.SHFB.2018.12.10\tools\
install:
- cmd: >-
    nuget install EWSoftware.SHFB -o c:\ -Version 2018.12.10

    nuget install EWSoftware.SHFB.NETFramework -o c:\projects\codejam

    xcopy /E /S C:\EWSoftware.SHFB.2018.12.10 C:\EWSoftware.SHFB.2015.10.10.0\
before_build:
- cmd: nuget restore CodeJam.sln
build_script:
- msbuild CodeJamDoc.sln /warnaserror /nowarn:NU3005 /t:Restore;Build /p:Configuration=Release /v:m
- git clone https://github.com/rsdn/CodeJam.wiki.git c:\projects\codejam.wiki
- cd c:\projects\codejam.wiki
- git rm media\*.*
- move /Y ..\codejam\Help\media .
- git add media\*.*
- git rm Doc\*.*
- move /Y ..\codejam\Help\LastBuild.log ..\codejam\LastBuild.log
- move /Y ..\codejam\Help Doc
- move Doc\Home.md Doc\DocHome.md
- git add Doc\*.md
# - git commit -m "Update doc"
# - git push CodeJam.wiki
- cd c:\projects\codejam
after_build:
- cmd: 7z a -r CodeJamDoc.zip c:\projects\codejam.wiki\Doc\*.*
artifacts:
- path: CodeJamDoc.zip
  name: CodeJamDoc
on_finish:
- ps: Push-AppveyorArtifact C:\projects\codejam\help\LastBuild.log