<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="$(SolutionDir)Experimental\src\RangesV2\[Ranges]\RangeWithTKeyReplacer.ttinclude" #>
<#
		Transform(
			"RangeTests.Extensions.cs",
			new ReplaceInfo // Adds a range to a
			{
				Pattern = "TestRange",
				Replacement = "TestKeyedRange",
				ThrowOnFail = true
			},
			new ReplaceInfo // Adds a range to a
			{
				Pattern = @"(Range.Create.*?\([^,\)]+?,[^,\)]+?)\)",
				Replacement = @"$1, RangeKey)",
				ThrowOnFail = true
			});
#>
