<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="..\..\..\..\Main\src\Ranges\[Ranges]\RangeWithTKeyReplacer.ttinclude" #>
<#
	RunRangeOperations("CompositeRange`1.Operations.cs");
#>
