<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CodeJam.PerfTests" type="CodeJam.PerfTests.Configs.PerfTestsSection, CodeJam.PerfTests"/>
	</configSections>

	<CodeJam.PerfTests
		AnnotateSources="false"
		Platform="x64"
		IgnoreExistingAnnotations="false"
		ReportWarningsAsErrors="false"
		TroubleshootingMode="false"/>
</configuration>
