<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AssemblyWideConfig.AnnotateOnRun" value="true" />
		<add key="AssemblyWideConfig.IgnoreExistingAnnotations" value="false" />
		<add key="AssemblyWideConfig.ReportWarningsAsErrors" value="false" />
		<add key="AssemblyWideConfig.TroubleshootingMode" value="false" />
	</appSettings>
</configuration>