<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="[Ranges]\RangeWithTKeyReplacer.ttinclude" #>
<#
	Run("Range.FactoryMethods.cs",
		new ReplaceInfo // Fix parameter passing #2
		{
			Pattern = @"(toValue.+?)\);",
			Replacement = @"$1, key);",
			ThrowOnFail = true
		});
#>
