<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="RangeBoundaryToReplacer.ttinclude" #>
<#
	Run(
		new ReplaceInfo // Swap parts in ToString()
		{
			Pattern = @"FromInclusiveString \+ (.*?);",
			Replacement = @"$1 + ToInclusiveString;",
			ThrowOnFail = true
		},
		new ReplaceInfo // Swap parts in ToString()
		{
			Pattern = @"FromExclusiveString \+ (.*?);",
			Replacement = @"$1 + ToExclusiveString;",
			ThrowOnFail = true
		});
#>
