<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="$(SolutionDir)CodeJam.Main\Ranges\[Ranges]\RangeWithTKeyReplacer.ttinclude" #>
<#
	Run(
		"CompositeRange.cs",
		new ReplaceInfo // Remove [PublicApi] line
		{
			Pattern = @"[PublicAPI]",
			Replacement = "",
			ThrowOnFail = true,
			Match = MatchMode.WholeLine,
			EscapePattern = true
		});
#>
